train_finutune/nanoGPT/.DS_Store
train_finutune/nanoGPT/.idea
train_finutune/nanoGPT/.ipynb_checkpoints/
train_finutune/nanoGPT/.vscode
train_finutune/nanoGPT/__pycache__/
train_finutune/nanoGPT/*.bin
train_finutune/nanoGPT/*.pkl
train_finutune/nanoGPT/*.pt
train_finutune/nanoGPT/*.pyc
train_finutune/nanoGPT/input.txt
train_finutune/nanoGPT/env/
train_finutune/nanoGPT/venv/
train_finutune/nanoGPT/out*
train_finetune/nanoGPT/data/chinese_lyrics/*.json
train_finetune/nanoGPT/data/chinese_lyrics/*.txt
train_finetune/nanoGPT/data/song_ci/*.json
train_finetune/nanoGPT/data/song_ci/*.txt
train_finetune/nanoGPT/*.txt


train_finetune/alignment/opt-*
train_finetune/alignment/outputs/
train_finetune/alignment/wandb/
train_finetune/alignment/*.json*
train_finetune/alignment/data.txt
train_finetune/alignment/*.ipynb
train_finetune/alignment/*2*

train_finetune/alignGPT2


ImageReward-Hackathon/checkpoint
ImageReward-Hackathon/result